/Login_form/dist/
/Practical_1(c)/build/
/Practical_1(c)/dist/
/Practical_4(c)/nbproject/private/
/Practical_4(c)/build/
/Practical_4(c)/dist/
/Practical_1(a)/build/
/Practical_5(a)/nbproject/private/
/Practical_5(a)/build/
/Practical_5(a)/dist/
/Practical_3(c)/nbproject/private/
/WebApplication1/nbproject/private/
/demo/nbproject/private/
/Practical_3(c)/build/
/Practical_3(c)/dist/
/Practical_4(b)/build/
/Practical_3(b)/build/
/Practical_3(b)/dist/
/Practical_6(c)/Practical6-c-ejb/build/
/Practical_6(c)/Practical6-c-war/build/
/Practical_6(c)/build/
/Practical_6(c)/Practical6-c-war/dist/
/Practical_6(c)/Practical6-c-ejb/dist/
/Practical_6(c)/dist/
/Practical_9(a)/nbproject/private/
/Practical_9(a)/build/
/Practical_8(c)/nbproject/private/
