<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Student</servlet-name>
        <servlet-class>mypack.Student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDetails</servlet-name>
        <servlet-class>mypack.StudentDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HibernateUtil</servlet-name>
        <servlet-class>mypack.HibernateUtil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>mypack.StudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Student</servlet-name>
        <url-pattern>/Student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDetails</servlet-name>
        <url-pattern>/StudentDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HibernateUtil</servlet-name>
        <url-pattern>/HibernateUtil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/StudentServlet</url-pattern>
    </servlet-mapping>
</web-app>
